<div class="container">
  <h2>Unicorns Current Location</h2>
  <div class="row col-md-12">
    {{#each model as |unicorn index|}}
      {{unicorn-fields model=unicorn}}
    {{/each}}
  </div>
</div>

{{outlet}}
